html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


#app {
    font-family: $family--default;
    color: $color--text;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    padding: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.wrap {
    @include container
}
